{% extends 'base.html' %}
{% block title %} 
{{ super() }}
- Blog's
{% endblock %}
{% block content %}
<style>
    h1{
        margin-top: 5mm;
        margin-bottom: 5mm;
        text-align: center;
        font-weight: 400;
    }
    nav .pagination{
        margin-left: 15cm;
    }
    .page-item.active .page-link{
        background-color: black;
        border-color: #dde;
    }
    #backgroundImage{z-index: 1;}

    #backgroundImage:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('static/bg.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.4;
        filter:alpha(opacity=40);
        height:100%;
        width:100%;
    }
</style>
<div id="backgroundImage">
    <div class="main">
        <h1><b>Blog's</b></h1>
        {% for post in pages.items %}
            {% include 'card.html' %}
        {% endfor %}


        <nav aria-label="...">
            <ul class="pagination">
            <li class="page-item {% if not pages.has_prev %}disabled{% endif %}">
                <a class="page-link" href="?page={{pages.prev_num}}">Previous</a>
            </li>
            {% for page in pages.iter_pages() %}
                <li class="page-item  {% if page== pages.page %} active {% endif %}">
                    <a class="page-link" href="?page={{page}}">{{ page }}<span class="sr-only"></span></a>
                </li>
            {% endfor %}
            <li class="page-item {% if not pages.has_next %}disabled{% endif %}">
                <a class="page-link" href="?page={{pages.next_num}}">Next</a>
            </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}