{% extends 'base.html' %}
{% block title %}
{{ super() }}
- Sign_up
{% endblock %}

{% block content %}
<style>
#backgroundImage{z-index: 1;}

#backgroundImage:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url('static/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.4;
    filter:alpha(opacity=40);
    height:100%;
    width:100%;
 }
.back{
    margin-top: 2cm;
    margin-left: 6cm;
    padding-left: 2cm;
    padding-top: 1cm;
    height: 10cm;
    width: 23cm;
    background-color: black ;
}
.front{
    border-style: solid;
    border-color: black;
    padding-top: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    top :0;
    height: 10cm;
    width: 13cm;
    background-color: #dde6f8 ;
}
#box{
    padding-right: 7cm;
    width: 4cm;
    float: right;
    border:none;
    text-align: center;
    border-bottom: 0.5mm solid rgb(32, 31, 29);
    outline: none;
    color: rgb(43, 45, 48);
}
.register-info-box{
    width:20%;
    padding-left: 2cm;
    top:9cm;
    right:8cm;
    position:absolute;
    text-align:left;
    color: #dde6f8;
    
}

button:hover{
    transform: translateY(-0.3cm);
}
</style>
<div id="backgroundImage">
    <div class="main">
        <div class="back">
            <div class="register-info-box">
                <h2> We Welcome You...</h2>
                <p>Thank You be here</p>
            </div>
            <div class="front">
                <h2>Register</h2>
                <form method="POST" action="#">
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail" name="name" placeholder="Name">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <label class="form-check-label"><input type="checkbox"> Remember me</label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-dark">Sign in</button>
                        </div>
                    </div>
                </form>  
            </div>
        </div>    
        

    </div>
</div>

{% endblock %}