{% extends 'base.html' %}
{% block title %} Blog {% endblock %}

{% block content %}

        <style>
            .main{
            text-align: center;
          }
        #backgroundImage{z-index: 1;}

        #backgroundImage:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('static/bg.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.4;
        filter:alpha(opacity=40);
        height:100%;
        width:100%;
        }
        h1{
            padding-top: 1cm;
            margin-top: 1cm;
            text-align: center;
            text-underline-position: below;
        }
        .back{
            background-color: #f1f3f7;
            margin-left: 2cm;
            margin-right: 2cm;
            padding-bottom: 1cm;

        }
        p{
            text-align: center;
            font-size: 5mm;
            font-weight: 200;
        }
        i{
            font-size: 7mm;
            font-weight: 300;
        }
        body{
      background: url("/static/bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

        </style>
        <div class="back">
            <div class="main">
                <h1>{{ post.title }}<br></h1>
                <i>{{ post.subtitle }}</i>
                <p><b>Posted on {{post.created.date()}} and written by {{post.authore}}</b></p>
                <div class="container">
                    {{ post.message }}
                </div>
            </div>
        </div>
{% endblock %}
